In [2]:
# !pip install pystan==2.19.1.1
# !pip install prophet
# !pip install plotly

In [2]:
# Python
import pandas as pd
from prophet import Prophet

In [11]:
path = '/home/dazai/Documents/Data challenge/Data/Aggregated'
df_data = pd.read_feather(f"{path}/2011_street.feather")
df_data.drop('index')
df_data

In [9]:
df_data.groupby('Falls within').head(10)

,index,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,0,None,2011-02,South Wales Police,South Wales Police,-3.649808,51.638618,On or near North Street,W01000991,Bridgend 001A,Anti-social behaviour,NaN,None
1,1,None,2011-02,South Wales Police,South Wales Police,-3.658828,51.634723,On or near Tudor Estate,W01000991,Bridgend 001A,Anti-social behaviour,NaN,None
2,2,None,2011-02,South Wales Police,South Wales Police,-3.649808,51.638618,On or near North Street,W01000991,Bridgend 001A,Anti-social behaviour,NaN,None
3,3,None,2011-02,South Wales Police,South Wales Police,-3.658828,51.634723,On or near Tudor Estate,W01000991,Bridgend 001A,Anti-social behaviour,NaN,None
4,4,None,2011-02,South Wales Police,South Wales Police,-3.649808,51.638618,On or near North Street,W01000991,Bridgend 001A,Burglary,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607096,5,None,2011-10,Police Service of Northern Ireland,Police Service of Northern Ireland,-6.583865,54.430528,On or near Fernagreevagh Road,None,None,Anti-social behaviour,NaN,None
1607097,6,None,2011-10,Police Service of Northern Ireland,Police Service of Northern Ireland,-5.929328,54.598579,On or near Castle Lane,None,None,Anti-social behaviour,NaN,None
1607098,7,None,2011-10,Police Service of Northern Ireland,Police Service of Northern Ireland,-6.662103,55.135091,On or near,None,None,Anti-social behaviour,NaN,None
1607099,8,None,2011-10,Police Service of Northern Ireland,Police Service of Northern Ireland,-6.332683,54.176960,On or near High Street,None,None,Anti-social behaviour,NaN,None
1607100,9,None,2011-10,Police Service of Northern Ireland,Police Service of Northern Ireland,-5.886060,54.592898,On or near Woodcot Avenue,None,None,Anti-social behaviour,NaN,None

In [6]:
df_predict = df_data[~df_data.isna()]
df_predict

,index,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,0,NaN,2011-02,South Wales Police,South Wales Police,-3.649808,51.638618,On or near North Street,W01000991,Bridgend 001A,Anti-social behaviour,NaN,NaN
1,1,NaN,2011-02,South Wales Police,South Wales Police,-3.658828,51.634723,On or near Tudor Estate,W01000991,Bridgend 001A,Anti-social behaviour,NaN,NaN
2,2,NaN,2011-02,South Wales Police,South Wales Police,-3.649808,51.638618,On or near North Street,W01000991,Bridgend 001A,Anti-social behaviour,NaN,NaN
3,3,NaN,2011-02,South Wales Police,South Wales Police,-3.658828,51.634723,On or near Tudor Estate,W01000991,Bridgend 001A,Anti-social behaviour,NaN,NaN
4,4,NaN,2011-02,South Wales Police,South Wales Police,-3.649808,51.638618,On or near North Street,W01000991,Bridgend 001A,Burglary,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6730108,5682,NaN,2011-05,Gloucestershire Constabulary,Gloucestershire Constabulary,-1.927878,51.646377,On or near Kent End,E01031887,Wiltshire 001A,Vehicle crime,NaN,NaN
6730109,5683,NaN,2011-05,Gloucestershire Constabulary,Gloucestershire Constabulary,-1.870087,51.659688,On or near Croft Close,E01031935,Wiltshire 001C,Anti-social behaviour,NaN,NaN
6730110,5684,NaN,2011-05,Gloucestershire Constabulary,Gloucestershire Constabulary,-1.870087,51.659688,On or near Croft Close,E01031935,Wiltshire 001C,Violent crime,NaN,NaN
6730111,5685,NaN,2011-05,Gloucestershire Constabulary,Gloucestershire Constabulary,-2.118759,52.028940,On or near College Road,E01032348,Wychavon 019B,Anti-social behaviour,NaN,NaN
6730112,5686,NaN,2011-05,Gloucestershire Constabulary,Gloucestershire Constabulary,-2.036219,52.012586,On or near Blacksmiths Lane,E01032412,Wychavon 019E,Anti-social behaviour,NaN,NaN

In [15]:
df_data.loc[[129657]]

,index,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
129657,8450,None,2011-02,Surrey Police,Surrey Police,NaN,NaN,No Location,None,None,Anti-social behaviour,NaN,None

In [10]:
df_predict = df_data[['Month', 'Longitude', 'Latitude']].reset_index()
index = df_predict.pop('index')
df_predict.insert(1, 'index', index)


df_predict.columns = ['ds', 'y', 'add1', 'add2']

df_predict

              ds        y      add1       add2
0        2011-02        0 -3.649808  51.638618
1        2011-02        1 -3.658828  51.634723
2        2011-02        2 -3.649808  51.638618
3        2011-02        3 -3.658828  51.634723
4        2011-02        4 -3.649808  51.638618
...          ...      ...       ...        ...
6730108  2011-05  6730108 -1.927878  51.646377
6730109  2011-05  6730109 -1.870087  51.659688
6730110  2011-05  6730110 -1.870087  51.659688
6730111  2011-05  6730111 -2.118759  52.028940
6730112  2011-05  6730112 -2.036219  52.012586

[6730113 rows x 4 columns]

In [18]:
m = Prophet()
m.add_regressor('add1')
m.add_regressor('add2')
m.fit(df_predict)

INFO:prophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:prophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.